<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @config['title'] %></title>
  </head>

  <body>
    <h1 class="title"><%= @config['title'] %></h1>
    <p><%= @config['subtitle'] %></p>
    <hr>

    <% @posts.each do |post| %>
      <p><%= post['body'] %></p>
      <p>Created at: <%= post['time'] %>
      <hr>
    <% end %>

    <footer>
      Author: <%= @config['author'] %>
    </footer>
  </body>
</html>
