<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @config['title'] %></title>
    <link rel="stylesheet" href="main.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="header">
      <h1 class="title"><%= @config['title'] %></h1>
      <p class="subtitle"><%= @config['subtitle'] %></p>
    </div>

    <div class="main">
      <% @posts.each do |post| %>
        <div class="post">
          <%= post['body'] %>
          <p class="time">Created at: <%= post['time'] %></p>
        </div>
      <% end %>
    </div>

    <footer>
    Author: <%= @config['author'] %>
    </footer>
  </body>
</html>
